<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Selling Site</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static 'templatemo_style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
	<div id="templatemo_menu">
    	
    </div> <!-- end of menu -->
    <div id="templatemo_header">
    	<div id="templatemo_special_offers">
        	<p>
                <span>25%</span> discounts for
        purchase over  Rs.999
        	</p>
<!--			<a href="#" style="margin-left: 50px;">Read more...</a>-->
        </div>
        <div id="templatemo_new_books">
        	<ul>

                <li>The kite runner</li>
                <li>Beloved</li>
                <li>Holly</li>
            </ul>
<!--            <a href="#" style="margin-left: 50px;">Read more...</a>-->
        </div>
    </div> <!-- end of header -->
    <div id="templatemo_content">
         <div id="templatemo_content_left">
        	<div class="templatemo_content_left_section">
            	<h1>Categories</h1>
                <ul>
                    <li><a href="#">Fiction</a></li>
                    <li><a href="#">Literature</a></li>
                    <li><a href="#">Self-Help</a></li>
                    <li><a href="#">Philosophy and Religion</a></li>
                    <li><a href="#">Social Science</a></li>
                    <li><a href="#">Children and Young Adult</a></li>
                    <li><a href="#">Biographies and Memoirs</a></li>
                    <li><a href="#">Business and Economics</a></li>
                    <li><a href="#">Non-Fiction</a></li>
            	</ul>
            </div>
			<div class="templatemo_content_left_section">
            	<h1>Bestsellers</h1>
                 <ul>
                    <li><a href="#">The kite runner</a></li>
                    <li><a href="#">The fault in our stars</a></li>
                    <li><a href="#">Holly</a></li>
                    <li><a href="#">The queen of nothing</a></li>
                    <li><a href="#">Beloved</a></li>
                    <li><a href="#">Peter pan</a></li>
                    <li><a href="#">Midnight Library</a></li>
                    <li><a href="#">The age of miracles</a></li>
                    <li><a href="#">Harry potter</a></li>
                    <li><a href="#">Ikigai</a></li>
            	</ul>
            </div>

            <div class="templatemo_content_left_section">
                <h4>CONTACT</h4>
                <ul>
                      <li>books123@gmailcom</li>
                    <li>9876543210</li>
                </ul>
                </div>
        </div> <!-- end of content left -->

        <div id="templatemo_content_right">
         {% block content %}
<form method="POST">
    {% csrf_token %}

    <label style="color:white">Quantity  :</label><input type="number" name="quantity">

    <input type="submit"  class="btn-primary" value="checkout">

</form>
            {% endblock %}
              <div class="cleaner_with_height">&nbsp;</div>

            <a href="index.html"><img src="{% static 'images/logo1.gif' %}" alt="css template ad" /></a>

        </div> <!-- end of content right -->

    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->

    <div id="templatemo_footer">

	</div>
</div>
</body>
</html>
